* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(woodfloorbg.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-table {
    width: 800px;
    height: 700px;
    background-color: #006400;
    border: 1em solid brown;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width:80px;
    height: 120px;
    border-radius: 5px;
}

.deck {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    
    
}

.card {
    width: 2px;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}
.card:nth-last-child(1){
    width: 1px;
    animation: shuffle 1s linear;
    animation-delay: 1s;
    
}
.card:nth-last-child(2){
    width: 1px;
    animation: shuffle 1s linear;
    animation-delay: 1.8s;

}
.card:nth-last-child(3){
    width: 1px;
    animation: shuffle 1s linear;
    animation-delay: 2.6s;
}
.card:nth-last-child(4){
    width: 1px;
    animation: shuffle 1s linear;
    animation-delay: 3.4s;
}

.card:nth-last-child(5){
    width: 1px;
    animation: shuffle 1s linear;
    animation-delay: 4.2s;
}



.shuffle-button, .deal-button {
    
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff4500;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}



.shuffle-button:hover  {
    background-color: #ff5d33;

    
}
.deal-button:hover {
    background-color: #ff5d33;
}




@keyframes shuffle {
    0%, 100% {
        transform: translateX(0) 
        
    }
    
    50% {
        transform: translateX(10vh);
        
    }
    
}


/* Add animations for shuffle and deal as needed */
